.pagination {
    display: flex;
    justify-content: center;
}

.pagination a {
    padding: 8px;
    margin-right: 5px;
    color: gray;
    border-radius: 4px;
}

.pagination a:hover {
    cursor: pointer;
}

.pagination a.active {
    background-color: #a8a8a8;
    color: white;
}